html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
dl,
dt,
dd {
  font-size: 100%;
  font-style: normal;
  vertical-align: baseline;
}

p {
  margin: 0px !important;
}

fieldset {
  margin-bottom: 10px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline
}

a {
  color: #33882a;
  outline: none;
  text-decoration: none;
}

a:visited {
  color: #33882a;
}

a:hover {
  color: #33882a;
  text-decoration: underline;
}

a:focus {
  color: #33882a;
  outline: 0px;
}

a:active {
  color: #33882a;
}

a.active {
  color: #33882a;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font: 10px 'Noto Sans', Arial, Helvetica, sans-serif;
  color: #707070;
  background-color: #fff;
  min-width: 318px;
}

.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
}

.img-rounded,
#especialistas .background {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

/***** TEMPLATE *****/
.center {
  max-width: 1200px;
  width: 94%;
  margin: 0 auto;
}

#wrapper {
  font-size: 1.5em;
  font-size: 1.5rem;
  background-color: #FFFFFF;
}

.navbar {
  background-color: #012A2D;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 110px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.pdtb {
  padding: 110px 0 10px;
}

.formulario label {
  line-height: 20px;
  display: block;
  padding-bottom: 4px;
}

.file {
  visibility: hidden;
  position: absolute;
}

.nav-link.active,
.nav-link:focus,
.nav-link:visited {
  color: #33882a !important;
  font-weight: bold !important;
  cursor: default;
}

/*Textos*/
h1,
h2,
h3,
h4,
h6,
.text-h2 {
  color: #1C2126;
  font-weight: bold;
  margin-bottom: 14px;
}

h1 {
  font-size: 2.6em;
  font-size: 2.6rem;
  margin-bottom: 30px;
}

h2 {
  font-size: 2em;
  font-size: 2rem;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.8em;
  font-size: 1.8rem;
}

li,
p,
th,
td,
dt,
dd {
  font-size: 1.5em;
  font-size: 1.5rem;
}

.text-13 {
  font-size: 1.3em;
  font-size: 1.3rem;
  padding-top: 2px;
}

.gj-picker-bootstrap th,
.gj-picker-bootstrap td {
  font-size: 13px;
}

.btn.btn-link {
  padding: 0;
  margin: 0 2px;
}

#accordionMenu li {
  line-height: 18px;
}

#accordionMenu span {
  color: #000;
  position: relative;
  border-bottom: 1px solid #dfe0e185;
}

#accordionMenu .dropdown-toggle:after {
  position: absolute;
  top: 15px;
  right: 13px;
}

#accordionMenu .dropdown-toggle:after {
  transform: rotate(180deg);
}

#accordionMenu .dropdown-toggle.collapsed:after {
  transform: rotate(0deg);
}

#accordionMenu ul ul {
  padding-left: 10px;
}

@media screen and (max-width: 767px) {

  .pl-4,
  .px-4 {
    padding-left: 20px !important;
  }
}

/*** Sweet alert ****/
.swal2-title {
  font-size: 12px !important;
}

/*** Field message ****/
.field-message-alert {
  font-size: 11px;
  padding: 5px 2px;
  color: red;
  text-align: left;
}

/*** Helpers class ****/
.pointer-none {
  pointer-events: none;
}

.file-select {
  position: relative;
  display: inline-block;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 150px;
  height: 32px;
  display: inline-block;
}

.file-select::before {
  background-color: #538184;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select:hover::before {
  background-color: #005157;
  /* Change the background color on hover */
}

.swal2-popup {
  font-size: 1.6rem !important;
  font-style: normal !important;
}

h2.swal2-title {
  font-size: 3rem !important;
  font-style: normal !important;
  font-family: 'Roboto', sans-serif;
}

.password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
}

nav.header * {
  color: #c5c5c5 !important;
}

.boton-submit-formulario {
  background-color: #005157;
  border-bottom: 8px solid #005157;
  border-left: 18px solid #005157;
  border-right: 18px solid #005157;
  border-top: 8px solid #005157;
  color: white;
}

.ck-editor__editable_inline {
  min-height: 200px;
}

.btn-outline-success {
  color: #538184 !important;
  border-color: #538184 !important;
}

.btn-outline-success:hover {
  color: #fff !important;
  background-color: #00353A !important;
  border-color: #00353A !important;
}

.btn-success {
  color: #fff;
  background-color: #005157 !important;
  border-color: #005157 !important;
}

.btn-success:hover {
  color: #fff;
  background-color: #00353A !important;
  border-color: #00353A !important;
}

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #00353A !important;
  border-color: #00353A !important;
  outline: 0 !important;
  box-shadow:
    0 0 0 .2rem rgba(0, 53, 58, 0.5) !important;
  /* faux focus ring color */
}

.btn-success:active,
.btn-success.active,
.open>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #00353A !important;
  border-color: #00353A !important;
  background-image: none;
}

.btn-success:active:hover,
.btn-success:active:focus,
.btn-success:active.focus,
.btn-success.active:hover,
.btn-success.active:focus,
.btn-success.active.focus,
.open>.btn-success.dropdown-toggle:hover,
.open>.btn-success.dropdown-toggle:focus,
.open>.btn-success.dropdown-toggle.focus {
  color: #fff;
  background-color: #00353A !important;
  border-color: #00353A !important;
}

.btn-success.disabled:focus,
.btn-success.disabled.focus,
.btn-success:disabled:focus,
.btn-success:disabled.focus {
  background-color: #006771 !important;
  border-color: #006771 !important;
  outline: 0 !important;
  box-shadow:
    0 0 0 .2rem rgba(0, 103, 113, 0.5) !important;
  /* faux focus ring color */
}

.btn-success.disabled:hover,
.btn-success:disabled:hover {
  background-color: #006771 !important;
  border-color: #006771 !important;
}

.btn-success.disabled,
.btn-success:disabled {
  opacity: 0.65;
  /* Reduce the opacity of the button to indicate that it's disabled */
  pointer-events: none;
  /* Disable pointer events on the button */
}

.custom-file-input:focus~.custom-file-label,
.custom-file-input:active~.custom-file-label,
.custom-file-input:hover~.custom-file-label {
  border-color: #538184 !important;
  /* Add a border color to the label when the file input is active or hovered over */
}

.custom-file-label::after {
  content: 'Seleccionar';
  background-color: #538184 !important;
  border: 1px solid #538184 !important;
  color: white !important;
}

.custom-file-input:focus~.custom-file-label::after,
.custom-file-input:active~.custom-file-label::after,
.custom-file-input:hover~.custom-file-label::after {
  background-color: #00353A !important;
  border-color: #00353A !important;
  color: white !important;
  /* Change the background color, border color, and text color of the button when it is active or hovered over */
}

.dx-selection {
  background-color: #00353A !important;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  margin: 8px 0px;
}

.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: #ced4da;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}


/* Nuevas ventanas */
.contador-archivos{
  display: flex;
  width: 33px;
  height: 23px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(1, 42, 45, 0.10);
}
.contador-archivos p{
  color: #012A2D;
  font-size: 16px;
}


.padding-left-15{
  padding-left: 15px;
}
.margin-bottom-5{
  margin-bottom: 5px !important;
}
.gap-37{
  gap: 37px;
}
.bottom-30{
  margin-bottom: 30px;
}
.bottom-20{
  margin-bottom: 20px;
}
.preguntas-preview{
  padding-left: 20px;
  gap: 10px;
  margin-bottom: 20px;
}
.link-atras{
  padding-left: 15px;
  margin-bottom: 47px;
  align-items: center;
  gap: 8px;
  color: #626262 !important;
  font-weight: 600;
  text-decoration: none !important;
}


.input-file-nuevo::file-selector-button {
  display: none;
}

.input-file-nuevo {
  background-image: url(/public/images/admin/sistema/cloud.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 98%;
  padding-right: 20px;
}
.input-file-txt-nuevo {
  background-image: url(/public/images/admin/sistema/cloud.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 98%;
  padding-right: 20px;
}

.color-rojo{
  color: red !important;
}
.color-texto-cbre {
  color: #005157 !important;
}

.i-margin-cbre {
  margin: 0px 5px;
}

.sin-label {
  margin-bottom: 25px;
}

.grid-filtros-admin {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr)) 95px;
  gap: 18px;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  padding: 27px 33px 0px 33px;
  margin-bottom: 30px;
}

.grid-filtros-admin-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)) 95px;
  gap: 18px;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  padding: 27px 33px 0px 33px;
  margin-bottom: 30px;
}

.grid-filtros-admin-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr)) 95px;
  gap: 18px;
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  padding: 27px 33px 0px 33px;
  margin-bottom: 30px;
}

.btn-filtro {
  padding: 5.4px 10px;
  border-radius: 10px;
  background: rgba(1, 42, 45, 0.10);
  border: 0px;
  outline: none;
  color: #012A2D;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.btn-exportar {
    padding: 5.4px 10px;
    border-radius: 10px;
    background: rgba(1, 42, 45, 0.10);
    border: 0px;
    outline: none;
    color: #012A2D;
    font-size: 16px;
    font-weight: 600;
  }

.row-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menos-top {
  margin-top: -7px;
}

.menu-area-tecnica {
  cursor: pointer;
}

.menu-area-tecnica span a {
  color: #33882a;
}

.form-group textarea {
  resize: none;
  width: 100%;
  height: 120px;
}
.div-formulario-n textarea {
  resize: none;
  width: 100%;
  height: 120px !important;
}


.div-formulario-n {
  border-radius: 8px;
  border: 1px solid #E6E6E6;
  background: #FFF;
  padding: 28px;
  margin-bottom: 20px;
}

.row-input-form {
  align-items: center;
  margin-bottom: 16px;
  margin-left: 2px;
}

.cursor-pointer {
  cursor: pointer;
}

.row-global {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.row-column-global {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.btn-agregar p {
  margin-top: -3px;
}

.datos-formulario {
  justify-content: flex-end;
  gap: 10px;
  padding-right: 20px;
}

.opciones-extras-formulario {
  justify-content: flex-end;
  gap: 35px;
  padding-right: 15px;
}

.estado-formulario {
  display: flex;
  padding: 0px 41px;
  height: 34px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(1, 42, 45, 0.10);
  color: #012A2D !important;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none !important;
}

.grid-header-2 {
  display: grid;
  grid-template-columns: 55% 45%;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.select-manual {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  padding: 0px 30px;
  height: 34px;
  cursor: pointer;
  position: relative;
}

.option-select-manual {
  position: absolute;
  display: inline-flex;
  width: 200px;
  height: auto;
  padding: 15px 19px;
  right: 0px;
  top: 42px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #E0DDDD;
  background: #FFF;
  z-index: 10;

}

.row-option {
  gap: 10px;
  display: flex;
  align-items: center;
  color: #000 !important;
  text-decoration: none !important;
  z-index: 10;
}

.nuevo-formulario .div-formulario-n input[type=checkbox],
.nuevo-formulario .div-formulario-n input[type=radio] {
  transform: scale(1.5);
}

.opciones-pregunta {
  margin-top: 20px;
  padding: 20px 0px 0px 0px;
  border-top: 1px solid #D7D7D7;
}

.btn-agregar-nueva-pregunta {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  border: 1px dashed rgba(1, 42, 45, 0.20);
  background: rgba(1, 42, 45, 0.10);
  height: 80px;
  cursor: pointer;
  color: #012A2D;
}

.botones-formulario{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding: 1.5rem 0px 2.25rem;
  font-weight: 600;
}

/*---------- switch ------- */
.switch {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 6px;
  border-radius: 44px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 44px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: -5px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16), 0px 0px 1px rgba(0, 0, 0, 0.4);
  border-radius: 44px;
}

/* input:checked + .slider {
  background: #1A32FF;
} */
input:checked+.slider:before {
  background-color: #012A2D;
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.btn-remove-pregunta {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.align-center {
  align-items: center;
}

.hide {
  visibility: hidden;
}

/* Input */
.div-input-file {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 120px;
  border-radius: 8px;
  background: rgba(1, 42, 45, 0.10);
}

.label-input-100 {
  display: grid !important;
  grid-template-columns: 60px 1fr;
  align-items: center;
}

.label-input-100 p {
  color: #012A2D;
  font-size: 16px;
  font-weight: 600;
}

.contador-notificaciones{
    background-color: #AD2A2A !important;
    color: white !important;
}

/* .sub-menu-block{
    display: block !important;
} */

.link-padding10{
    padding: .5rem 10px .5rem 20px !important;
}

/* Modal */
.modalFile__abrirBtn {
  cursor: pointer;
}

.modalFile__btnN {
  display: flex;
  height: 44px;
  padding: 0px 41px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: rgba(1, 42, 45, 0.10);
  cursor: pointer;
  border: 0px;
}

.modalFile__botonPrimario {
  background: #012A2D;
  color: white;
}

.modalFile__botonSecundario {
  background: rgba(1, 42, 45, 0.10);
  color: #012A2D;
}

.modalFile__contenido {
  margin-top: 20px;
}

/* Subida de archivos */
.tabla-archivos-subidos {
  border: 1px solid #E3E3E3;
}

.tabla-archivos-subidos:last-child {
  border-bottom: 0px;

}

.archivo-subido-n {
  display: grid;
  grid-template-columns: 1fr 35px 35px;
  gap: 34px;
  align-items: center;
  padding: 0px 26px;
  border-bottom: 1px solid #E3E3E3;
  height: 50px;
}

.archivo-subido-n p {
  margin: 0px;
}

/* Scroll */
::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #d5d6d9;
}

.margin-20 {
  margin: 20px 0px;
}

.linea-separadora {
  width: 100%;
  height: 1px;
  background: #D1D1D1;
  margin: 25px 0px;
}

.sin-margen p {
  margin: 0px;
}
.sin-margen h3 {
  margin: 0px;
}

.width-250 {
  width: 250px;
}
/* Historial */
.historial{
  display: grid;
  grid-template-columns: 1px 1fr;
  gap: 30px;
}
.historial__linea{
  width: 1px;
  height: 100%;
  position: relative;
  background: #012A2D;
}
.historial__lineaCirculo{
  width: 11px;
  height: 11px;
  border-radius: 11px;
  background: #012A2D;
  position: absolute;
  left: -5.5px;
  top: 45px;
}
.historial__datos{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 0px;
}
@media(max-width: 1200px) {
  .row-responsive {
    flex-wrap: nowrap !important;
  }

  .row-column-global {
    flex-direction: column;
    align-items: inherit;
  }
}

@media(max-width: 1100px) {
  .grid-filtros-admin {
    grid-template-columns: 1fr 1fr 1fr 95px;
    gap: 5px;
  }

  .grid-filtros-admin .form-group,
  .grid-filtros-admin-4 .form-group,
  .grid-filtros-admin-3 .form-group {
    margin: 0px;
  }

  .grid-filtros-admin-4 {
    gap: 10px;
  }

  .grid-filtros-admin-3 {
    gap: 10px;
  }
}

@media(max-width: 768px) {
  .grid-filtros-admin {
    grid-template-columns: 1fr;
    gap: 5px;
  }

  .grid-filtros-admin .form-group,
  .grid-filtros-admin-4 .form-group,
  .grid-filtros-admin-3 .form-group {
    margin: 0px;
  }

  .grid-filtros-admin-4 {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .grid-filtros-admin-3 {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .row-responsive {
    flex-wrap: wrap !important;
    margin-bottom: 20px;
  }

  .grid-header-2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .datos-formulario {
    justify-content: flex-start;
    padding-right: 0px;
    padding-left: 30px;
    margin-bottom: 20px;
  }

  .opciones-extras-formulario {
    justify-content: flex-start;
    margin-top: 20px;
    padding-right: 0px;
    padding-left: 15px;
    gap: 0px;
  }
}

@media(max-width: 578px) {
  .flex-endResponsivo{
    display: grid;
  }
  .grid2-responsivo{
    display: grid !important;
  }
  .row-input-form {
    flex-wrap: nowrap !important;
  }

  .option-select-manual {
    left: 0px;
  }
}

.pointer{
    cursor: pointer;
}

.file-spinner {
    width: 32px!important;
    height: 32px!important;
    border: 4px solid rgb(1, 42, 45)!important;
    border-bottom-color: transparent!important;
    border-radius: 50%!important;
}

.colored-toast {
    background-color: transparent !important;
    height: 50px;
    font-size: 13px!important;
}

.colored-toast.swal2-icon-success {
    background-color: transparent !important;
    height: 50px;
    font-size: 13px!important;
  }

  .colored-toast.swal2-icon-error {
    background-color: transparent !important;
    height: 50px;
    font-size: 13px!important;
  }

  .colored-toast.swal2-icon-warning {
    background-color: transparent !important;
    height: 50px;
    font-size: 13px!important;
  }

  .colored-toast.swal2-icon-info {
    background-color: transparent !important;
    height: 50px;
    font-size: 13px!important;
  }

  .colored-toast.swal2-icon-question {
    background-color: transparent !important;
    height: 50px;
    font-size: 13px!important;
  }

  .colored-toast .swal2-title {
    color: white;
    font-size: 13px!important;
  }

  .colored-toast .swal2-close {
     color: white;
    font-size: 13px!important;
  }

  .colored-toast .swal2-html-container {
    color: white;
    font-size: 13px!important;
  }





